In [1]:
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen, Request
import pandas as pd

In [ ]:
def sanber():
    alamat = "https://blog.sanbercode.com/"
    
    user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36'
    headers = {'User-Agent' : user_agent, 'Accept' : 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9'}
    
    req = Request(alamat, headers=headers)
    html = urlopen(req)
    data = bs(html, 'html.parser')
    
    items = data.findAll("a", {"class":"text-dark"})
    
    for item in items:
        print(item.get_text().strip())

In [48]:
# def wiki()
alamat = 'https://en.wikipedia.org/wiki/List_of_brightest_stars'

user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36'
headers = {'User-Agent' : user_agent, 'Accept' : 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9'}

req = Request(alamat, headers=headers)
html = urlopen(req)
data = bs(html, 'html.parser')

table = data.find('table', {'class':'wikitable'})
rows = table.findAll('tr')

hasil = []
for row in rows:
    sel = row.findAll(['td','th'])

    items = []
    for item in sel:
        items.append(item.get_text().strip())

    hasil.append(items)

df = pd.DataFrame(hasil)

In [49]:
df

,0,1,2,3,4,5,6
0,Rank,Visual magnitude (mV),Proper name[1],Bayer designation,Distance (ly),Spectral class,None
1,part 1,part 2,None,None,None,None,None
2,1,0.000−26.74,Sun,,0.000015813,G2 V,None
3,2,0.001−1.46,Sirius,α,CMa,0008.6,"A0mA1 Va, DA2"
4,3,0.003−0.74,Canopus,α,Car,0310,A9 II
...,...,...,...,...,...,...,...
90,89,2.46,Markeb,κ,Vel,0540,B2 IV
91,90,2.47 (1.6–3.0var),Navi[a],γ,Cas,0610,B0.5 IVe
92,91,2.48,Markab,α,Peg,0140,A0 IV
93,92,2.48,Aljanah,ε,Cyg,0072,K0 III-IV
94,93,2.50,Acrab,β,Sco,0404,"B0.5 IV-V, B1.5 V, B2 V"

In [50]:
df.columns = ["Rank", "Visual magnitude (mV)", "Proper name", "Bayer Designation Part 1", "Bayer Designation Part 2", "Distance (ly)", "Spectral Class"]

In [51]:
df

,Rank,Visual magnitude (mV),Proper name,Bayer Designation Part 1,Bayer Designation Part 2,Distance (ly),Spectral Class
0,Rank,Visual magnitude (mV),Proper name[1],Bayer designation,Distance (ly),Spectral class,None
1,part 1,part 2,None,None,None,None,None
2,1,0.000−26.74,Sun,,0.000015813,G2 V,None
3,2,0.001−1.46,Sirius,α,CMa,0008.6,"A0mA1 Va, DA2"
4,3,0.003−0.74,Canopus,α,Car,0310,A9 II
...,...,...,...,...,...,...,...
90,89,2.46,Markeb,κ,Vel,0540,B2 IV
91,90,2.47 (1.6–3.0var),Navi[a],γ,Cas,0610,B0.5 IVe
92,91,2.48,Markab,α,Peg,0140,A0 IV
93,92,2.48,Aljanah,ε,Cyg,0072,K0 III-IV
94,93,2.50,Acrab,β,Sco,0404,"B0.5 IV-V, B1.5 V, B2 V"

In [59]:
df = df.drop(df.index[[0,1,2]])

In [60]:
df = df.reset_index(drop=True)

In [63]:
df.dtypes

Rank                        object
Visual magnitude (mV)       object
Proper name                 object
Bayer Designation Part 1    object
Bayer Designation Part 2    object
Distance (ly)               object
Spectral Class              object
dtype: object

In [64]:
df

,Rank,Visual magnitude (mV),Proper name,Bayer Designation Part 1,Bayer Designation Part 2,Distance (ly),Spectral Class
0,2,0.001−1.46,Sirius,α,CMa,0008.6,"A0mA1 Va, DA2"
1,3,0.003−0.74,Canopus,α,Car,0310,A9 II
2,4,0.004−0.27 (0.01 + 1.33),Rigil Kentaurus & Toliman,α,Cen,0004.4,"G2 V, K1 V"
3,5,0.005−0.05,Arcturus,α,Boo,0037,K0 III
4,6,0.03 (−0.02–0.07var),Vega,α,Lyr,0025,A0 Va
...,...,...,...,...,...,...,...
87,89,2.46,Markeb,κ,Vel,0540,B2 IV
88,90,2.47 (1.6–3.0var),Navi[a],γ,Cas,0610,B0.5 IVe
89,91,2.48,Markab,α,Peg,0140,A0 IV
90,92,2.48,Aljanah,ε,Cyg,0072,K0 III-IV
91,93,2.50,Acrab,β,Sco,0404,"B0.5 IV-V, B1.5 V, B2 V"